<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atomic View</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body,html{height:100%}body{background-color:#000;margin:0;font-family:Helvetica,sans-serif;overflow:hidden}
    </style>

    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js"></script>
    <script src="/js/lib/tween.min.js"></script>
    <script src="/js/lib/TrackballControls.js"></script>
    <script src="/js/lib/CSS3DRenderer.js"></script>
    <script src="/js/lib/OrbitControls.js"></script>

    <!-- import the webpage's client-side javascript file -->
    
  </head>
  <body>
    <main>
      <div id="container" data-atomic_number="{{ atomic_number }}"></div>
      <script src="/js/atom.js"></script>
      <script src="/js/client/atomic_view.js" defer></script>
    </main>
  </body>
</html>
