<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to ekShiksha!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css'>

    <!-- import the webpage's client-side javascript file -->
    <script src="/js/client/index.js" defer></script>
  </head>
  <body>
    <main>
      <div style="font-size: 50px; line-height: 1.1;">👋</div><h1 class="bold">Oh hi,</h1>
      <p>This space has some science visualisations. Mostly covering the topics from high school chemistry. If you are looking for more interactive content visit <a href="https://ekshiksha.org.in">https://ekshiksha.org.in</a>. We assume you are already familiar with most of the topics and looking for visualisations, that is the reason we have no textual content on this site.</p>
      <p>Embrace technology as a means to improve deep conceptual understanding and to make quality, relevant education far more portable …. Give students more independence and control, allowing them to claim true ownership of their education -- <b>Sal Khan, Khan Academy</b></p>
      <h2>Below are the some of the topics covered</h2>
      
      <section class="topics">
        <ul id="topics"></ul>
      </section>
    </main>
  </body>
</html>
