<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to ekShiksha!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css'>

    <!-- import the webpage's client-side javascript file -->
    <script src="/js/client/index.js" defer></script>
  </head>
  <body>
    <main>
      <div style="font-size: 50px; line-height: 1.1;">👋</div><h1 class="bold">Oh hi,</h1>
      
      <h2>Below are the some of the topics covered</h2>
      
      <section class="topics">
        <ul id="topics"></ul>
      </section>
    </main>
  </body>
</html>
