{% extends 'layout.html' %}
{% block content %}
    <script src="/static/js/lib/three.js"></script>
    <script src="/static/js/lib/tween.min.js"></script>
    <script src="/static/js/lib/TrackballControls.js"></script>
    <script src="/static/js/lib/CSS3DRenderer.js"></script>
    <script src="/static/js/geometry.js"></script>
    <span id="geometric-model" data-model="{{model}}"></span>
    <script>
        var camera, scene, renderer;
        var controls;
        init();
        animate();

        function init() {
            camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 10000 );
            camera.position.z = 15;
            scene = new THREE.Scene();

            let model = document.getElementById('geometric-model').getAttribute('data-model');

            var geometricModel;
            if (model == 'linear') {
                geometricModel = new Linear(0.4, 0.6)
            } else if (model == 'tetrahedral') {
                geometricModel = new Tetrahedral(0.4, 0.6, 0);
            } else if (model == 'octahedral') {
                geometricModel = new Octahedral(0.4, 0.6, 0)
            } else if (model == 'trigonal-planar') {
                geometricModel = new TrigonalPlanar(0.4, 0.6, 0)
            } else if (model == 'trigonal-bipyramidal') {
                geometricModel = new TrigonalBipyramidal(0.4, 0.6, 0)
            } else if (model == 'pentagonal-bipyramidal') {
                geometricModel = new PentagonalBipyramidal(0.4, 0.6, 0)
            }

            scene.add(geometricModel.shape);

            var light = new THREE.DirectionalLight( 'white' );
            light.position.set( 0, 1, 1 ).normalize();
            scene.add(light);

            var backLight = new THREE.DirectionalLight( 'white' );
            backLight.position.set( 0, 1, -10 ).normalize();
            scene.add(backLight);

            renderer = new THREE.WebGLRenderer();
            let canvas = document.getElementById("animationCanvas");
            renderer.setSize( canvas.offsetWidth, canvas.offsetHeight );
            canvas.appendChild( renderer.domElement );

            controls = new THREE.TrackballControls( camera, renderer.domElement );
            // controls.maxDistance = 20;
        }

        function animate() {
            requestAnimationFrame( animate );
            controls.update();
            renderer.render( scene, camera );
        }

    </script>
{% endblock %}
