{% extends 'layout.html' %}
{% block content %}
    <h1 style="color:white; font-family: 'Times New Roman', Times, serif;">Hello There!</h1><br>
    <p style="color:white;">
        This site contains some science animations. Use the left
        menu to view the animation. 
    </p>
    <footer class="page-footer font-small blue pt-4" style="color:white;">
        All the animations are built with javascript 3d library <a href="https://threejs.org">three.js</a>. Some components for animation are taken from community and some are writtern from scratch.
        <p>contact @ srikanth.chekuri92@gmail.com</p>
    </footer>
{% endblock %}
