<!DOCTYPE html>
<html>
    <head>
        <title>ekShiksha</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div class="border-right" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <ul class="list-group-item list-group-item-action bg-light">
                        Periodic Table & Atomic Structure
                        <ul><li><a href="/ptable">Periodic Table</a></li></ul>
                    </ul>
                    <ul class="list-group-item list-group-item-action bg-light">
                        Crystal Structures
                        <ul><li><a href="/lattice/triclinic">Triclinic</a></li></ul>
                        <ul><li><a href="/lattice/monoclinic">Monoclinic</a></li></ul>
                        <ul><li><a href="/lattice/orthorhombic">Orthorhombic</a></li></ul>
                        <ul><li><a href="/lattice/tetragonal">Tetragonal</a></li></ul>
                        <ul><li><a href="/lattice/rhombohedral">Rhombohedral</a></li></ul>
                        <ul><li><a href="/lattice/hexagonal">Hexagonal</a></li></ul>
                        <ul><li><a href="/lattice/cubic">Cubic</a></li></ul>
                    </ul>
                    <ul class="list-group-item list-group-item-action bg-light">
                        VSEPR theory
                        <ul><li><a href="/geometry/linear">Linear</a></li></ul>
                        <ul><li><a href="/geometry/tetrahedral">Tetrahedral</a></li></ul>
                        <ul><li><a href="/geometry/octahedral">Octahedral</a></li></ul>
                        <ul><li><a href="/geometry/trigonal-planar">Trigonal Planar</a></li></ul>
                        <ul><li><a href="/geometry/trigonal-bipyramidal">Trigonal Bipyramidal</a></li></ul>
                        <ul><li><a href="/geometry/pentagonal-bipyramidal">Pentagonal Bipyramidal</a></li></ul>
                    </ul>
                    <ul class="list-group-item list-group-item-action bg-light">Hybridization of Orbitals</ul>
                </div>
            </div>
            <div id="page-content-wrapper" style="background-color: black;">
                <div class="container-fluid"  style="width: 100%; height : 90%; margin: auto;" id="animationCanvas">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
